body {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  background-color: #0B1D38;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 420px;
}

.board div {
  align-items: center;
  background-color: #647FA8;
  border: 3px #647FA8 solid;
  box-shadow: 2px 2px 50px #000000;
  color: white;
  display: flex;
  font-size: 2rem;
  height: 75px;
  justify-content: center;
  margin: 1px;
  width: 125px;
}

.board div:hover {
  background-color: #0B1D38;
}


