html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 420px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 2px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

.display {
  flex: 5;

}
